@using Microsoft.AspNetCore.Components.Web
@using TrainingQuestCsharp.Shared.Models;
@inject HttpClient httpClient

<h2>Time: @time</h2>
<button @onclick="Submit">Click</button>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Value</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var vr in vrl)
        {
            <tr>
                <td>@vr.Timestamp.ToString()</td>
                <td>@vr.Value.ToString()</td>                
            </tr>
            
        }
    </tbody>
</table>

<h3>Aufgabe</h3>
<p>Unterhalb dieses Texts soll die Tabelle entstehen.<br />Ihr Einstiegspunkt ist die Datei 'Pages/Index.razor', dort finden sie weitere Informationen</p>
<p>Die Tabelle muss als Zeilen-Header den Zeitstempel. Es ist ausreichend, die ersten 20 Zeitstempel darzustellen. Sortieren sie die Liste absteigend. <br /></p>

<p>Es steht Ihnen frei 'Table'-Elemente oder Grid oder HTML5-Sections zu verwenden.</p>
<p>Wir möchten aber darum bitten dennoch an die Usability des Nutzers zu denken.</p>

@code {
    string? time;
    List<ValueRow>? vrl = new List<ValueRow>();

    async Task Submit()
    {

        var response = await httpClient.GetAsync("/api/data/file");

        vrl = await response.Content.ReadFromJsonAsync<List<ValueRow>>();
        


    }
}
