@page "/"
@inject ILogger<Index> Logger;

<PageTitle>Index</PageTitle>
<div class="top-row px-4">
    <h4 class="m-1">DataTable</h4>
</div>

<article class="content px-4">
    <InfoText />
    <!--YOUR CODE GOES HERE-->
</article>